<div class="author">
    <h1 class="author__heading">Hi, I Ahmed Henawy.</h1>
    <p class="author__body">Software developer and Business developer.</p>
  </div>
  
  <img src="images/bg1.jpg" alt="person looking out through window" class="hero-image" width="540" height="360">
  
<section>
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
        <li>
          <a href="#">
            <span>post title</span>
            <span class="article-list__date">2024</span>
          </a>
        </li>
    </ul>
</section>